@using Microsoft.AspNetCore.Identity

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark">Hello @User.Identity.Name!</a>
        
        <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" 
           asp-area="" 
           asp-controller="Auth" asp-action="Login" 
           asp-route-provider="Twitter"
           asp-route-returnUrl="/twitter/login">Login</a>
    </li>
}
</ul>
