@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity


@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-4">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                var providers = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            }
            <form id="external-account" asp-controller="Auth" asp-action="Login" method="get" class="form-horizontal">
                <div>
                    <p>
                        @foreach (var provider in providers)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>