@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Twitter" asp-action="Login" method="get" class="form-horizontal">
            <button>Do stuff here!</button>
        </form>
    }

</div>