@using Microsoft.AspNetCore.Identity
@using MediaManager.Web.Views.WatchedUsers

@model IndexViewModel

@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole<long>> RoleManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userRoles = await UserManager.GetRolesAsync(user);

    if (userRoles.Contains("Admin"))
    {

        <form method="post"
              asp-controller="WatchedUsers"
              asp-action="Index"
              class="col-sm-7">
            
            @if (Model?.PreviousSucceeded != null)
            {
                <div class="form-group">
                    
                    @if (Model.PreviousSucceeded.Value)
                    {
                        <div class="valid-feedback d-block">@Model.Message</div>
                    }
                    else
                    {
                        <div class="invalid-feedback d-block">@Model.Message</div>
                    }
                    
                </div>
            }

            <div class="form-group">

                <label asp-for="UserName" class="col-form-label"></label>

                <input type="text" asp-for="UserName" class="form-control">
                
                <small class="form-text text-muted">
                    Make sure to enter the username and not the display name! (enter the username without the '@@')
                </small>

            </div>

            <div class="form-group">
                
                <button type="submit" class="btn btn-primary">Add</button>
                
            </div>

        </form>

    }
}