@using Microsoft.AspNetCore.Identity
@using MediaManager.Web.Views.WatchedUsers

@model IndexViewModel

@inject UserManager<ApplicationUser> UserManager
@inject RoleManager<IdentityRole<long>> RoleManager

@{
    var user = await UserManager.GetUserAsync(User);
    var userRoles = await UserManager.GetRolesAsync(user);

    if (userRoles.Contains("Admin"))
    {

        <form method="post" 
              asp-controller="WatchedUsers" 
              asp-action="Index">

            <div class="form-group">
                <label for="userName">Watched UserName</label>
                <div>
                    <input type="text" class="form-control" name="userName">
                </div>
            </div>

            <div class="form-group">
                <div>
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
                @if (Model?.PreviousSucceeded == null)
                {
                }
                else if (Model.PreviousSucceeded.Value)
                {
                    <label>Success</label>
                }
                else
                {
                    <label>Failed</label>
                }
            </div>

        </form>

    }
}